div.main-row {
    height: 520px;
}
div.main-row-column {
    height: 100%;
}
div.file-list-container {
    width: 100%;
}
select.files-list {
    width: 90%;
    height: 180px;
}
select.param-file-block {
    width: 90%;  
    overflow-x: auto; 
    overflow-y: auto;
}
select.param-file-displayname {
    height: 10%;
}
select.param-file-description {
    height: 15%;
}
select.param-file-content {
    height: 45%;
}
button.files-download-btn {
    height: 30px;
    /*width: 25px;*/
    margin-top: 10px;
    margin-right: 10%;
}
div.files-list-row {
    padding-left: 10px;
}
div.report-gen-row {
    /*height: 40px;*/
}
.short-form-item {
    width: 25px;
}