@using Microsoft.AspNetCore.Hosting
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnv
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Make conditional import -->
    <title>@ViewBag.Title</title>
    @if (HostingEnv.IsDevelopment())
    {
        <!-- Library stylesheets -->
        <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.css">
        <!-- Application styleshees -->
        <link rel="stylesheet" href="css\reports_manager.css">
        <!-- Library scripts -->
        <script type="text/javascript" src="node_modules\jquery\dist\jquery.js"></script>

    }
    else
    {
        <link rel="stylesheet" href="css\app.min.css">
        <script type="text/javascript" src="js\app.min.js"></script>
    }
</head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
