@using Microsoft.AspNetCore.Mvc.Rendering
@using ReportGeneratorWeb.Models

@model ReportGeneratorWeb.Models.ParametersModel
@{
    ViewBag.Title = $"Установка значений параметров для файла параметров: {Model.ParametersFile}";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="modal-content">
    <div class="modal-header modal-header-group">
        <button style="margin: 0; width: 20px; height: 20px;"type="button" 
                class="btn btn-outline-dark close modal-dialog-button modal-close-button" 
                data-dismiss="modal"><i class="fas fa-times"></i></button>
        <!--todo: umv: should mention ParamsFile, StoredProc/View type and name-->
        <h5 class="modal-title">@ViewBag.Title</h5>
    </div>
    <div class="modal-body">
        <form>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Имя параметра:</th>
                        <th scope="col">Значение:</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        int rowNumber = 1;
                        foreach (KeyValuePair<Tuple<ParameterType, string>, object> parameter in Model.Parameters)
                        {
                        <tr>
                            <!-- <th scope="row">@rowNumber</th>-->
                            <td>@parameter.Key.Item2</td>
                            <td>@parameter.Value.ToString()</td>
                        </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark modal-dialog-button">
            ОК
        </button>
        <button type="button" id="btnHideModal" class="btn btn-outline-dark modal-dialog-button">
            Отмена
        </button>
    </div>
</div>  