@using Microsoft.AspNetCore.Mvc.Rendering

@model ReportGeneratorWeb.Models.ParametersModel
@{
    ViewBag.Title = $"Установка значений параметров для файла параметров: {Model.ParametersFile}";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <!--todo: umv: should mention ParamsFile, StoredProc/View type and name-->
        <h4 class="modal-title">@ViewBag.Title</h4>
    </div>
    <div class="modal-body">
        <form>
            <div>
                Здесь должен быть набор параметров в виде Имя / Значение
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            ОК
        </button>
        <button type="button" id="btnHideModal" class="btn btn-primary">
            Отмена
        </button>
    </div>
</div>  